@import url(https://fonts.googleapis.com/css?family=Cormorant+SC:400,300,500|Maitree:300,200);
@media only screen and (max-width: 347px) {
  body {
    background: #CFDBC5;
    padding: 5px; }

  .hamburger {
    display: none; }

  .blurb {
    display: none; }

  .tile {
    border: 2px solid firebrick;
    width: 85vw;
    min-width: 175px;
    height: 175px;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    background: white; }
    .tile p {
      font-size: 14px;
      font-family: "Maitree";
      font-weight: 200;
      margin-left: 10px;
      margin-right: 10px; }
    .tile .imgBox {
      height: 85vw; }
      .tile .imgBox img {
        width: 85vw;
        min-width: 175px;
        border: 1px solid black;
        margin-bottom: 10px; }
      .tile .imgBox .postTitle {
        background: white;
        opacity: 0.7;
        border: 1px solid black;
        position: relative;
        width: 100%;
        top: -100px;
        height: 50px; }
      .tile .imgBox p {
        margin-top: 0px;
        margin-right: 10px;
        font-size: 1em;
        font-family: "Maitree";
        font-weight: 200;
        line-height: 25px; } }
@media only screen and (min-width: 348px) and (max-width: 435px) {
  body {
    background: #E0E0E0;
    padding: 5px; }

  .wrap {
    min-width: 300px; }

  .tile {
    border: 2px solid firebrick;
    width: 40vw;
    height: 260px;
    float: left;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 5px; }
    .tile p {
      font-size: .75em;
      font-family: "Maitree";
      font-weight: 200;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 15px;
      margin-top: 55px; }
    .tile .imgBox {
      height: 100px; }
      .tile .imgBox img {
        width: 40vw;
        border: 1px solid black; }
      .tile .imgBox .postTitle {
        background: white;
        opacity: 0.7;
        border: 1px solid black;
        position: relative;
        width: 100%;
        top: -20px;
        height: 35px; }
      .tile .imgBox p {
        margin-top: 00px;
        margin-right: 8px;
        font-size: .8em;
        font-family: "Maitree";
        font-weight: 200;
        line-height: 17px; }

  .hide {
    display: none; } }
@media only screen and (min-width: 436px) and (max-width: 775px) {
  body {
    background: #EED2EE;
    padding: 10px; }

  .hamburger {
    display: none; }

  .tile {
    border: 2px solid firebrick;
    width: 40vw;
    max-width: 250px;
    height: 260px;
    float: left;
    margin-left: 4vw;
    margin-bottom: 2vh;
    padding-bottom: 9px; }
    .tile p {
      font-family: "Maitree";
      font-weight: 200;
      margin-left: 5px;
      margin-right: 5px; }
    .tile .imgBox {
      height: 290px;
      margin-bottom: 10px; }
      .tile .imgBox img {
        width: 100%;
        margin-bottom: 5px;
        max-width: 250px;
        border: 1px solid black; }
      .tile .imgBox .postTitle {
        background: white;
        opacity: 0.7;
        border: 1px solid black;
        position: relative;
        width: 100%;
        position: relative;
        top: 80%;
        height: 40px; }
      .tile .imgBox p {
        margin-top: 0px;
        margin-right: 10px;
        font-size: 1em;
        font-family: "Maitree";
        font-weight: 200;
        line-height: 20px; }

  .blurb {
    line-height: 15px;
    font-size: .85em;
    position: relative;
    top: -110px; } }
@media only screen and (min-width: 776px) {
  body {
    padding: 10px; }

  .hamburger {
    display: none; }

  .blogTiles {
    min-width: 950px;
    border: 2px solid black; }

  .tile {
    border: 2px solid firebrick;
    width: 250px;
    height: 300px;
    float: left;
    margin-left: 2vw;
    margin-bottom: 30px; }
    .tile p {
      font-size: 15px;
      font-family: "Maitree";
      font-weight: 200;
      margin-left: 10px;
      margin-right: 10px; }
    .tile .imgBox {
      height: 175px; }
      .tile .imgBox img {
        width: 250px;
        border: 1px solid black; }
      .tile .imgBox .postTitle {
        background: white;
        opacity: 0.7;
        border: 1px solid black;
        position: relative;
        width: 100%;
        top: -55px;
        height: 50px; }
      .tile .imgBox p {
        margin-top: 0px;
        margin-right: 10px;
        font-size: 18px;
        font-family: "Maitree";
        font-weight: 200;
        line-height: 25px; } }
.right {
  float: right;
  border: 1px solid black;
  margin-left: 10px; }

.left {
  border: 1px solid black;
  float: left;
  margin-right: 10px; }
  .left img {
    width: 35px; }

.main {
  border: 2px solid red;
  width: 93.5vw;
  max-width: 1450px; }
  .main img {
    border: 2px solid red;
    width: 93.5vw;
    max-width: 1450px; }

.mainImg {
  width: 70vw; }

.blogTiles {
  border: 2px solid pink;
  max-width: 1800px; }

.tile:hover {
  border: 2px solid #8bd2d4; }

/*# sourceMappingURL=main.css.map */
