@import "partials/base";
@import url(https://fonts.googleapis.com/css?family=Cormorant+SC:400,300,500|Maitree:300,200);

body {
  // background: #8bd2d4;
  padding: 20px;
}

.right {
  float: right;
  border: 1px solid black;
  margin-left: 10px;
}

.left {
  border: 1px solid black;
  float: left;
  margin-right: 10px;
    img {
      width: 35px;
    }
}

.main {
  border: 2px solid red;
    img {
      border: 2px solid red;
      width: 93.5vw;
    }
}

.blogTiles {
  border: 2px solid pink;
}

.tile {
  border: 1px solid firebrick;
  width: 400px;
  height: 550px;
  float: left;
  margin-left: 40px;
  margin-bottom: 30px;
    p {
      font-size: 18px;
      font-family: "Maitree";
      font-weight: 200;
    }
    .imgBox {
        img {
          align-content: center;
          border: 1px solid black;
        }

        .postTitle {
          border: 1px solid black;
          position: relative;
          top: -60px;
          background: white;
          opacity: 0.5;
          height: 50px;
        }

        p {
          font-size: 22px;
          font-family: "Maitree";
          font-weight: 200;
        }
      }
}
