@import "partials/base";
@import url(https://fonts.googleapis.com/css?family=Cormorant+SC:400,300,500|Maitree:300,200);

.right {
  float: right;
  border: 1px solid black;
  margin-left: 10px;
}

.left {
  border: 1px solid black;
  float: left;
  margin-right: 10px;
    img {
      width: 35px;
    }
}

.main {
  border: 2px solid red;
  width: 93.5vw;
  max-width: 1450px;

    img {
      border: 2px solid red;
      width: 93.5vw;
      max-width: 1450px;
    }
}

.mainImg {
  width: 70vw;
}

.blogTiles {
  @include blogTiles;
}


.tile:hover {
  border: 2px solid #8bd2d4;
}
