@import "partials/base";

.cf {
  @include clearfix;
}

body {
  background: #8bd2d4;
  max-width: 1550px;
  @extend .cf;
}

.wrapper {
  min-width: 350px;
}

.navLinks {
  float: right;
  margin-left: 10px;
  font-family: "Maitree";
  padding: right;
}

.navLinks:hover {
  color: white;
}

.navBubbles {
  float: left;
    img {
      width: 35px;
    }
}

.main {
  width: 93.5vw;
  max-width: 1450px;
  @extend .cf;

    img {
      border: 1px solid white;
      width: 93.5vw;
      max-width: 1450px;
    }
}

.mainImg {
  width: 70vw;
}

.blogTiles {
  @include blogTiles;
  @extend .cf;
}

.tile {
  border: 2px solid $border;
  @extend .cf;
}

.tile:hover {
  border: 2px solid darken($border, 30%)
}
