@media only screen and (min-width: 436px) and (max-width: 775px) {

  body {
    padding: 10px;
  }

  .tile {
    border: 2px solid white;
    width: 40vw;
    max-width: 250px;
    height: 260px;
    float: left;
    margin-left: 4vw;
    margin-bottom: 2vh;
    padding-bottom: 9px;

      p {
        font-family: "Maitree";
        font-weight: 200;
        margin-left: 5px;
        margin-right: 5px;
      }

      .imgBox {
        height: 290px;
        margin-bottom: 10px;

          img {
            width: 100%;
            margin-bottom: 5px;
            max-width: 250px;
          }

          .postTitle {
            @include postTitle;
            position: relative;
            top: -18%;
            height: 40px;
          }

          p {
            @include tileP;
            font-size: 1em;
            line-height: 20px;
            font-family: "Maitree";
          }

        }
  }

  .blurb {
    line-height: 15px;
    font-size: .85em;
    position: relative;
    top: -110px;

  }

}
