@media only screen and (max-width: 347px) {
  body {
    min-width: 205px;
  }

  .mainImg {
    min-width: 205px;
  }

  .navBubbles {
    margin-right: 1vw;
    margin-left: 1vw;  }

  .circleBtns {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 40px;
  }

  .hamburger {
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: .5px solid #eaeaea;
  }

  .burgerLine {
    width: 20px;
    border: .5px solid #333333;
    background: #333333;
    margin: 2px;
    position: relative;
    top: 8px;
    left: 1.5px;
  }

  .blurb {
    display: none;
  }

  .tile {
    border: 2px solid white;
    width: 85vw;
    min-width: 175px;
    height: 175px;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    background: white;

      p {
        font-size: 14px;
        font-family: "Maitree";
        font-weight: 200;
        margin-left: 10px;
        margin-right: 10px;
      }

      .imgBox {
        height: 85vw;

          img {
            width: 85vw;
            min-width: 175px;
            margin-bottom: 10px;
          }

          .postTitle {
            @include postTitle;
            top: -100px;
            height: 50px;

          }

          p {
            margin-top: 0px;
            margin-right: 10px;
            font-size: 1em;
            font-family: "Maitree";
            font-weight: 200;
            line-height: 25px;
          }
        }

  }

  .hide {
    display: none;
  }

}
