@media only screen and (min-width: 776px) {

  body {
    padding: 10px;
  }

// .hamburger {
//   display: none;
// }

.blogTiles {
  min-width: 950px;
  // border: 2px solid black;
}

.tile {
  border: 2px solid white;
  width: 250px;
  height: 300px;
  float: left;
  margin-left: 2vw;
  margin-bottom: 30px;
    p {
      font-size: 15px;
      font-family: "Maitree";
      font-weight: 200;
      margin-left: 10px;
      margin-right: 10px;
    }

    .imgBox {
      height: 175px;

        img {
          width: 250px;
          border: 1px solid white;

        }

        .postTitle {
          @include postTitle;
          top: -55px;
          height: 50px;
        }

        p {
          margin-top: 0px;
          margin-right: 10px;
          font-size: 18px;
          font-family: "Maitree";
          font-weight: 200;
          line-height: 25px;
        }
      }

}



}
